/* 0. START OF COMMON PAGES STYLES */

:root
{
	--header-footer-fit: 10%;
}

html, body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 150%;
  font-family: 'Syncopate', sans-serif;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  margin-top: var(--header-footer-fit);
}

.page-not-found {
  position: absolute;
  
  height: 100vh;
  width: 100%;
    
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END OF COMMON PAGES STYLES */


/* 1. START OF HOME PAGE STYLES */

.homepage-container {
  height: 100%;
}

.viewport-header {
  position: relative;
  margin-top: 80vh;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.viewport-header h1 {
  text-transform: uppercase;
  text-align: center;
  color: #3fade0;
}

.viewport-header span {
  display: inline-block;
  margin-top: 10px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  background: white;
  color: black;
  position: relative;
  padding: 1rem;
}

.main p {
  max-width: 600px;
  margin: 1rem auto;
}

.main li {
  list-style: none;
  margin-bottom: 40px;
}

.homepage-tour {
  margin: auto;
  padding-top: 80px;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.homepage-tour-item {
  max-width: 40%;
  min-height: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-pic {
  max-height: 400px;
  height: 350px;
  filter: grayscale(100);
}

@keyframes picToColors {
  from { filter: grayscale(100); position: relative; bottom: 0px; }
  to { filter: grayscale(0); position: relative; bottom: 10px }
}

.homepage-pic:hover,
.homepage-pic:active {
  animation-name: picToColors;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* END HOMEPAGE STYLES */


/* 2. START OF MENU, BUTTON AND BUTTON CONTAINER STYLES */

.menu-container {
  height: var(--header-footer-fit);
  padding: 5%;

  position: fixed;
  top: 0;
  
  box-sizing: border-box;
  width: 100%;
  z-index: 100;

  padding: 20px 20px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container-logo p {
  font-size: 40px;
  color: black;
}

.site-navigation-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-navigation-items ul {
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  margin-right: 10px;
  list-style: none;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  color: #d9d9d9;
  text-transform: uppercase;
  cursor: pointer;
}

ul .first, .second,
.third, .fourth {
  border-bottom: 4px solid;
  padding-bottom: 5px;
  border-bottom-width: 90%;
}

ul .first:hover,
ul .first:active {
  color: #46ac4e;
}

ul .second:hover {
  color: #3fade0;
}

ul .third:hover {
  color: #ffca30;
}

ul .fourth:hover {
  color: #df386e;
}

.menu-container-btn {
  display: inline-block;
  
  width: 50px;
  height: 50px;

  cursor: pointer;
  
  background-color: #feca30;
  border-radius: 50%;
}

.menu-container-btn:before {
  content: "Меню";
  text-transform: uppercase;
  position: relative;
  top: 15px;
  left: -55px;
}

.menu-container-btn span {
  display: block;
  position: relative;
  height: 1px;
  width: 20px;
  background-color: #4D4D4F;
}

span:first-child {
  margin-top: -5px;
  left: 30%;
}

span:nth-child(2) {
  margin-top: 5px;
  left: 30%;
}

span:last-child {
  margin-top: 5px;
  left: 30%;
}

@keyframes rotate-plus45 {
  from { transform: rotate(0);}				
  to { transform: translateY(5px) rotate(45deg); top: 1px; }
}

@keyframes back-rotate-plus45 {
  from { transform: translateY(5px) rotate(45deg); top: 1px; }				
  to { transform: rotate(0); }
}

@keyframes disappear {
  0% {
      width: 20px;
  }
  100% {
      width: 0px;
  }
}

@keyframes appear {
  0% {
    width: 0px;
  }
  100% {
    width: 20px;
  }
}

@keyframes rotate-minus45 {
  from { transform: rotate(0);}				
  to { transform: translateY(-5px) rotate(-45deg); bottom: 1px;}
}

@keyframes back-rotate-minus45 {
  from { transform: translateY(-5px) rotate(-45deg); bottom: 1px; }				
  to { transform: rotate(0); }
}

@keyframes visible {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}

@keyframes unVisible {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}

@keyframes makeBlack {
  from { color: white; }
  to {  color: black; }
}

.btn-transition-fisrt {
  animation-name: rotate-plus45;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn-transition-first-back {
  animation-name: back-rotate-plus45;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn-transition-second {
  animation-name: disappear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn-transition-second-back {
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn-transition-last {
  animation-name: rotate-minus45;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.btn-transition-last-back {
  animation-name: back-rotate-minus45;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.invisible {
  position: absolute;
  visibility: hidden;
}

.visible {
  animation: visible;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  z-index: 99;
}

.un-visible {
  animation: unVisible;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  z-index: 99;
}

.text-color-white {
  animation-name: makeWhite;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both; 
}

.text-color-black {
  animation-name: makeBlack;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both; 
}

.site-navagation {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-align: center;
}

.navagation-menu li {
  list-style: none;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.copyright {
  position: fixed;
  bottom: 0px;
  
  color: white;
}

/* END OF MENU, BUTTON AND BUTTON CONTAINER STYLES */


/* 3. START OF USERS STYLES */

/* 3.1 INTRO START */
.intro-users {
  position: absolute; 
  top: 0;

  visibility: hidden;
  
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  color: #46ac4e;

  display: flex;
  justify-content: center;
  align-items: center;
  
  letter-spacing: 10px;
  font-size: 100px;

  overflow: hidden;

  animation-name: introUsers;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

  z-index: -1;
}

@keyframes introUsers {
  0% { color: #a1afa2; opacity: 1; visibility: hidden}
  20% { color: #a1afa2; opacity: 1; visibility: visible;}
  40% { color: #90b393; opacity: 1; visibility: visible; }
  60% { color: #90b393; opacity: 1; visibility: visible; }
  80% { color: #46ac4e; opacity: 1; visibility: visible; }
  100% { color: #46ac4e; opacity: 0; visibility: hidden; }
}

.letter-T {
  animation-name: introUsersT;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  text-shadow: 4px 4px 4px rgb(197, 191, 178);
}

@keyframes introUsersT {
  0% { color: #a1afa2; opacity: 1; visibility: hidden; }

  20% { color: #a1afa2; opacity: 1; visibility: visible; 
    text-shadow: 1px 1px 1px rgb(189, 169, 131) }

  40% { color: #90b393; opacity: 1; visibility: visible; 
    text-shadow: 5px 5px 5px rgb(196, 169, 121) }

  60% { color: #13b120; opacity: 1; visibility: visible; 
    text-shadow: 10px 10px 10px rgb(194, 179, 153);}
    
  80% { color: #46ac4e; opacity: 1; visibility: visible; 
    text-shadow: 4px 4px 4px rgb(197, 191, 178); }
  100% { color: #46ac4e; opacity: 0; visibility: hidden; }
}

/* INTOR END */

/* 3.2 USERS MAIN PAGE START */

.users {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  animation-name: hidden;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.users-wrapper {
  padding: 20px;

  max-width: 1100px;

  display: flex;
  justify-content: space-evenly;
}

.users-pic-first {
  width: 10%;
}

.users-pic-second {
  width: 30%;
}

.users-preview {
  width: 45%;
}

.users-preview h1 {
  margin: 0;
  padding: 0;

  color: #46ac4e;
  text-transform: uppercase;
}

.users-pic-first:after {
  content: "";

  position: relative;
  bottom: -20%;
  right: 60%; 

  border: 150px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-color: #46ac4e;
  border-right-color: transparent;
}

.users-container {
  display: flex;
  justify-content: center;
}

.users-items {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-item {
  list-style: none;
  width: 20%;
}

.users-wrapper {
  margin: 5px;
  min-height: 200px;
  max-height: 300px;

  display: flex;
  justify-content: space-evenly;
}

.users-strategy:before {
  content: "1";

  position: relative;
  bottom: 45%;
  right: 110%;
  
  color: #46ac4e;
  font-size: 40px;
}

.users-strategy:after {
  content: "2";

  position: relative;
  bottom: 45%;
  left: 110%;

  color: #46ac4e;
  font-size: 40px;
}

 .users-learn:after {
  content: "3";

  position: relative;
  bottom: 55%;
  left: 110%;

  color: #46ac4e;
  font-size: 40px;
}

 .users-learn:before {
  content: "4";

  position: relative;
  bottom: 45%;
  left: 200%;

  color: #46ac4e;
  font-size: 40px;
}

 .users-customize:before {
  content: "5";

  position: relative;
  bottom: 45%;
  right: 110%;

  color: #46ac4e;
  font-size: 40px;
 }

 .users-customize:after {
  content: "6";

  position: relative;
  bottom: 45%;
  left: 110%;

  color: #46ac4e;
  font-size: 40px;
 }

 .users-strategy, 
 .users-learn,
 .users-customize {
   width: 30%;
 }

/* END OF USERS STYLES */


/* 4 START OF INFO STRUCTURE */

/* 4.1 INFO STRUCTURE INTRO START */

.structure {
  position: fixed;
  top: 0;

  height: 100vh;
  width: 100%;

  text-transform: uppercase;
  color: #40ade0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  letter-spacing: 10px;
  font-size: 50px;

  overflow: hidden;
}

@keyframes introInformation {
  0% { margin-left: 150px; } 
  100% { margin-right: 0px; }
}

.intro-information {
  animation-name: introInformation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes introStructure {
  0% { margin-right: 150px; } 
  100% { margin-left: 0px; }
}

.intro-structure {
  animation-name: introStructure;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

/* END INTRO STRUCTURE */

/* 4.2 START INFO STRUCTURE MAIN PAGE */

.structure-sections {
  display: flex;
  flex-direction: column;
  
  align-items: center;

  animation-name: hidden;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.structure-wrapper {
  height: 350px;
  max-width: 1100px;

  display: flex;
  justify-content: space-around;
}

.structure-preview {
  width: 30%;
}

.structure-preview h1 {
  margin: 0;
  padding: 0;

  color: #3fade0;
  text-transform: uppercase;
}

.structure-preview-pic:before {
  content: "";

  position: relative;
  top: -200px;
  left: -30%;

  border: 150px solid;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-color: #3fade0;
  border-right-color: transparent;
}

.structure-preview-pic {
  width: 30%;
}

.structure-features-items {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.structure-wrapper-fiatures {
  margin-bottom: 40px;

  min-width: 1100px;
  max-width: 1100px;
  min-height: 200px;
  
  display: flex;
  justify-content: space-evenly;
}

.structure-wrapper-fiatures {
  display: flex;
  justify-content: space-evenly;
}

.structure-features-item {
  width: 30%;
  list-style: none;
}

.structure-features-item h2 {
  margin: 0;
  padding: 0;
}

.structure-feature-pic {
  width: 30%;
  max-height: 300px;
}

/* END OF INFO STRUCTURE */


/* 5. START OF PAPER PROTOTYPE */

/* 5.1 INTRO START */

.paper-prototype-container {
  position: fixed;
  top: 0;

  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  letter-spacing: 10px;
  font-size: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes firstBlockAppearance {
  from { opacity: 0; }
  to { opacity: 1; }
}

.first-block {
  position: relative;
  
  left: 30%;
  
  height: 50px;
  width: 150px;

  padding-top: 20px;

  border: 5px dashed grey;
  align-self: flex-start;

  background-color: rgb(173, 230, 195);

  color: whitesmoke;
  text-align: center;
  
  animation-name: firstBlockAppearance;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes secondBlockAppearance {
  0% { opacity: 0; }
  10% { opacity: 0; }
  50% { opacity: 1; }
}

.second-block {
  position: relative;
  top: -10%;
  right: 30%;
  
  height: 50px;
  width: 150px;
  padding-top: 20px;

  border: 5px dashed grey;
  align-self: flex-end;
  
  background-color: lightblue;

  text-align: center;
  color: whitesmoke;

  animation-name: secondBlockAppearance;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes thirdBlockAppearance {
  0% { opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

.third-block {
  position: relative;
  top: 10%;
  
  height: 50px;
  width: 500px;
  padding-top: 20px;

  border: 5px dashed grey;

  text-align: center;
  color: black;

  animation-name: thirdBlockAppearance;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes introPaperPrototype {
  0% { color: #ffe083; text-shadow: 5px 5px #a1afa2; }
  100% { color: #ffca30; text-shadow: 1px 1px #161616; }
}

.paper-prototype-text {
  color: #ffe083;
  text-shadow: 1px 1px #161616;

  animation-name: introPaperPrototype;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

/* END INTRO */

/* 5.2 START OF MAIN PAGE PAPER */

.paper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  animation-name: hidden;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.paper-wrapper {
  min-height: 150px;
  max-width: 1100px;

  display: flex;
  justify-content: space-evenly;
}

.paper-preview {
  width: 30%;
}

.paper-preview h1 {
  margin: 0;
  padding: 0;

  color: #ffca30;
  text-transform: uppercase;
}

.paper-preview:before {
  content: "";

  position: relative;
  top: 170px;
  left: -30%;

  border: 150px solid;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-color: #ffca30;
  border-right-color: transparent;
}

.paper-preview-pic {
  width: 30%;
}

.sec-2 {
  min-height: 150px;
  max-width: 1100px;

  display: flex;
  justify-content: space-between;
}

.sec-2-1 {
  width: 40%;
}

.sec-2-1 h2 {
  margin: 0;
  padding: 0;
}

.sec-2-2 {
  width: 30%;
}

.paper-wrapper-features {
  min-height: 150px;
  max-width: 1100px;

  display: flex;
  justify-content: space-around;
}

.paper-features {
  width: 30%;
}

.paper-features h2 {
  margin: 0;
  padding: 0;
}

.paper-features-pic {
  width: 30%;
}

.paper-conslusion {
  width: 40%;
}

.paper-conslusion h2 {
  margin: 0;
  padding: 0;
}

/* END OF PAPER PROTOTYPE */


/* 6. START OF INTERACTIVE PROTOTYPE STYLES */

/* 6.1 START INTRO */

.interactive-portotype {
  position: fixed; 
  top: 0;

  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.proto-coursor {
  height: 40px;
  border-right: 2px solid black;
  font-size: 40px;
  font-weight: 400;

  opacity: 1;
  font-weight: 200;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.big-red {
  font-size: 40px;
  color: #df386e;
  letter-spacing: 10px;
}

/* END OF INTRO */

/* 6.2 START OF MAIN PAGE INTERACTIVE PROTOTYPE */

@keyframes hidden {
  0% { opacity: 0; }
  85% { opacity: 0; }
  100% { opacity: 1; }
}

.prototype-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation-name: hidden;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.prototype-wrapper {
  min-height: 300px;
  max-width: 1100px;

  display: flex;
  align-items: flex-start;
}

.prototype-preview {
  max-width: 30%;
}

.prototype-preview h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #df386e;
}

.angle-interactive-prototype {
  margin-left: 30%;
  max-width: 40%;
  border: 150px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-color: #df386e;
  border-right-color: transparent;
}

.prototype-picture-first {
  max-width: 30%;
}

.prototype-picture-two {
  margin-right: 20px;

  margin-left: 13%;
  width: 10%;
}

.prototype-features-preview {
  align-self: baseline;

  margin-left: 5%;

  width: 40%;
}

.prototype-features-preview:after {
  position: relative;
  right: 10%;
  bottom: 50px;

  content: "1";
  color: #df386e;
  font-size: 40px;
}

.prototype-features-preview h2 {
  margin-top: 0;
}

.prototype-features-items {
  display: flex;
  flex-direction: column;
}

.prototype-features-items div {
  margin-bottom: 50px;
}

.prototype-features-item {
  list-style: none;
}

.fiatures-div-first {
  min-width: 1000px;

  display: flex;
  justify-content: space-evenly;
}

.fiatures-div-first:before {
  content: "2";
  color: #df386e;
  font-size: 40px;
}

.fiatures-div-second {
  min-width: 1000px;

  display: flex;
  justify-content: space-between;
}

.fiatures-div-second:after {
  position: relative;
  right: 60%;

  content: "3";
  color: #df386e;
  font-size: 40px;
}

.fiatures-div-third {
  min-width: 1000px;

  display: flex;
  justify-content: space-between;
}

.fiatures-div-third:before {
  content: "4";
  color: #df386e;
  font-size: 40px;
}

.prototype-features-items li {
  max-width: 30%;
}

/* END OF INTERACTIVE PROTOTYPE STYLES */

/* 7 START OF FOOTER */

.footer-container {
  position: relative;
  height: var(--header-footer-fit);
  background-color: grey;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
  z-index: 2;
}

/* END OF FOOTER */